
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 80vh; */
  /* ackground-color: rgb(54, 57, 59); */
  /* display: flex; */
  background-color: #32a7d6;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}
.heading {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P';
  font-size: 3.4rem;
  color: rgb(45, 104, 182);
}

.gameContainer {
  width: 30rem;
  height: 30rem;
  /* margin: auto; */
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: 23%;
  height: 23%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color: #807f7f;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.desc {
  display: flex;
  font-weight: bold;
  font-size: 28;
  width: 45rem;
  border: 2px solid rgb(58, 63, 88);
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 10px;
  /* align-items: flex-end;s */
  justify-content: center;
  margin-top: 11vh;
  color: rgba(38, 44, 129, 0.795);
  /* margin-bottom: 1vh; */
}

